@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>این پروژه برای ایجاد محصولات و فاکتور ایجاد شده است.</p>
</div>
