@page
@model Invoices.UI.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "حذف محصول";
}

<h3 style="float:right">حذف محصول</h3>
<br />
<br />
<h5 style="float:right">آیا از حذف این محصول مطمئنید؟</h5>
<br />
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           عنوان محصول:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
         قیمت محصول:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
    
    <form method="post" style="float:right;">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت</a>
    </form>
</div>
