@page
@model Invoices.UI.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Delete Product";
}

<h3 style="float:right">Delete Product</h3>
<br />
<br />
<h5 style="float:right">Are You Confirm This Delete?</h5>
<br />
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Product Title:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
         Price:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
    
    <form method="post" style="float:right;">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Return</a>
    </form>
</div>
