@page
@model Invoices.UI.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "جزئیات محصول";
}

<h4 style="float:right">جزئیات محصول</h4>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" >
            عنوان محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class="col-sm-2">
           قیمت محصول
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
    </dl>
</div>
<div style="float:right">
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">ویرایش</a> |
    <a asp-page="./Index">بازگشت</a>
</div>
